<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="author" content="collin grasley"/>
<meta name="description" content="A new template for open designs" />
<meta name="keywords" content="lorem ipsum, lorem ipsum" />	
<link rel="stylesheet" type="text/css" href="template05.css" media="screen" />

<title>Archivo de Música yuri</title>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="wrapper">

<div id="header">
  <h1>Archivo de música yuri</h1>
  <a href="/home/index">
      <%= image_tag("portada.png", size: "980x200", class: "image", alt: "Portada") %>
  </a>
  <div class="fb-follow" data-href="https://www.facebook.com/profile.php?id=100009219667562" data-layout="standard" data-show-faces="true"></div>
</div>

<!-- end header -->

<div id="pic"></div>

<!-- end main pic - this is a background image-->
				
<ul id="menu">
  <li><a href="/home/index">Home</a></li>
  <li><a href="/home/about">Acerca de Nosotros</a></li>
  <li><a href="/home/yuri">Yuri</a></li>
  <li><a href="/home/contacto">Contáctanos</a></li>.
  <li>
    <form id="tfnewsearch" method="get" action="http://www.google.com">
      <input type="text" class="tftextinput" name="q" size="18" maxlength="120">
      <input type="submit" value="Buscar" class="tfbutton">
    </form>
  </li>
</ul>

<!-- end main menu -->

<!-- all the right hand content begins here-->


<div class="clear"></div> 
<div id="rightside">
<a class="muut" href="https://muut.com/i/proyectoisw">proyectoisw</a>
<script src="//cdn.muut.com/1/moot.es.min.js"></script>

<!-- This is where the gallery starts-->


</div>

<div id="leftside">

<div class="leftdata">

<div id="leftnav">
<ul>
<h2>Secciones</h2>
<li><a href="/foro/foroPrincipal">Foro</a></li>
<li><a href="/articulos/A2">Noticias</a></li>
<li><a href="/articulos/A3">Contenido multimedia</a></li>
</ul>
</div>

</div>

</div>

<div class="clear"></div> 

<div id="footer">

<p class="copyright">&copy; 2007 Your Website- <a href="#">Open Designs</a></p>
 
<p><a href="#">Lorem ipsum</a> &middot; <a href="#">Lorem ipsum</a> &middot; <a href="#">Lorem ipsum</a> &middot; <a href="#">Lorem ipsum</a> &middot; <a href="mailto:collingrasley@gmail.com">Coll23</a> &middot; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and <a href="http://validator.w3.org/check?uri=referer">XHTML</a><br /></p>
			
</div>
</div>
</body>
</html>