<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="author" content="collin grasley"/>
<meta name="description" content="A new template for open designs" />
<meta name="keywords" content="lorem ipsum, lorem ipsum" />	
<link rel="stylesheet" type="text/css" href="template05.css" media="screen" />

<title>Archivo de música yuri</title>
</head>
<body>
  <!-- para FB -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- end -->

<div id="wrapper">

<div id="header">
  <h1>Archivo de música yuri</h1>
  <a href="/home/index">
      <%= image_tag("portada.png", size: "980x200", class: "image", alt: "Portada") %>
      
  </a>
  <div class="fb-follow" data-href="https://www.facebook.com/profile.php?id=100009219667562" data-layout="standard" data-show-faces="true"></div>
</div>

<!-- end header -->

<div id="pic"></div>

<!-- end main pic - this is a background image-->
				
<ul id="menu">
  <li><a href="/home/index">Home</a></li>
  <li><a href="/home/about">Acerca de Nosotros</a></li>
  <li><a href="/home/yuri">Yuri</a></li>
  <li><a href="/home/contacto">Contáctanos</a></li>.
  <li>
    <form id="tfnewsearch" method="get" action="http://www.google.com">
      <input type="text" class="tftextinput" name="q" size="18" maxlength="120">
      <input type="submit" value="Buscar" class="tfbutton">
    </form>
  </li>
</ul>

<!-- end main menu -->

<!-- all the right hand content begins here-->

<div class="clear"></div> 

<div id="rightside">

<div class="rightdata">
    
<%= image_tag("yuri101.jpg", size: "200", class: "photo", alt: "photo") %>
<h2>Historia del yuri</h2>
<p>Yuri (百合? lirio) es un vocablo japonés para referirse al amor entre mujeres en manga, anime, y otros medios de expresión japoneses.1 Yuri puede centrarse tanto en los aspectos emocionales como en los aspectos sexuales de la relación. En 1971 Ito Bongaku, el editor de la revista homosexual Barazoku usó el término «Yurizoku» (tribu del lirio) para referirse forma que usaba el, el apelativo de «barazoku» (la tribu rosa) para los gays. Desde entonces los términos japoneses «bara» (rosa) y «yuri» (lirio) se usan de forma generalizada para denominar a los homosexuales masculinos y femeninos respectivamente. Se le conoce a un fan del yuri como Taeko. Posteriormente el nombre ha sido utilizado por muchos artistas de manga y doujinshi hentai, que comenzaron a nombrar a sus personajes femeninos Yuri o Yuriko, hasta que se volvió una especie de cliché, alejando al término de su significado original. Por ejemplo, una de las parejas más vistas en los primeros doujinshi hentai fue Kei y Yuri de Dirty Pair.2</p>
</div>

<div class="rightdata">
</div>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/73505637&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=false"></iframe>


</div>

<div id="leftside">

<div class="leftdata">

<div id="leftnav">
<ul>
<h2>Secciones</h2>
<li><a href="/foro/foroPrincipal">Foro</a></li>
<li><a href="/posts">Noticias</a></li>
<li><a href="/articulos/A3">Contenido multimedia</a></li>
</ul>
</div>

</div>

<div class="leftdata">
  <a class="twitter-timeline"  href="https://twitter.com/BNChile" data-widget-id="686277197691252736">Tweets por el @BNChile.</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div class="leftdata">
<div class="fb-page" data-href="https://www.facebook.com/BibliotecaNacionaldeChile/" data-tabs="timeline" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/NothinTrumpsRump"><a href="https://www.facebook.com/NothinTrumpsRump">Space Dandy Booty Hunter</a></blockquote></div></div>
</div>

</div>

<div class="clear"></div> 

<div id="footer">


<p class="copyright">&copy; 2016 GrupoB-</p>

<p><a href="#">Lorem ipsum</a> &middot; 
<a href="#">Lorem ipsum</a> &middot; 
<a href="#">Lorem ipsum</a> &middot; 
<a href="#">Lorem ipsum</a> &middot; 
<a href="mailto:collingrasley@gmail.com">Coll23</a> &middot; 
<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and <a href="http://validator.w3.org/check?uri=referer">XHTML</a>
<br /></p>
			
</div>
</div>
</body>
</html>